<row>
	<div class="jumbotron">
	  <h1>Au Hasard !</h1>
	  <p>Votre fournisseur de bonne idée. Vous ne savez pas quoi faire le week-end, Au harsard est la pour vous. Grâce à son algorithme random notre application saura vous proposé des films de qualité de manière aléatoire.</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>

	<div class="col-lg-8 col-md-8">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Partez à l'aventure, découvrez de mangifiques paysages de tournage de films. Donnez nous la distance maximum que vous êtes prêt à parcourir et nous vous proposerons des idées fabuleuses !
		  </div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
		<img src="http://vignette3.wikia.nocookie.net/logopedia/images/e/e1/Googlemapslogo2014.png/revision/latest?cb=20150309221525" width="100%" height="auto">
	</div>
</row>