html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  padding-left: 50px;
  padding-right: 50px;
}
.content > div {
  display: flex;
  height: 100%;
  width: 100%;
}
